:root {
    --ug_gold: #B5965C;
    --ug_blue: #173D70;
    --active:#E0E3FD;
}
.sidebar{
    background-color: #ffffff;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid #ABAAAA;
    margin-left: 10px;
    min-height: 89vh;
    padding-top: 1rem;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
}
.menu-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    position: relative;
}
.items{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 14px;
    color: var(--ug_blue);
}

.menu-item-down{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--ug_blue);
    gap: 2rem;
    margin-top: 14rem;
    margin-left: -2rem;
}
.down-items{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2rem;
}
.down-items:hover{
    background: var(--active);
    

}
.active{
    background: var(--active);
    margin-left: 0;
    padding: 10px 0px 10px 0px;
}
.active::before{
    content: '';
    width: 8px;
    height: 180%;
    background: var(--ug_blue);
    margin-right: calc(1rem - 8px);
}


@media screen  and (min-width:280px) and (max-width:622px){
    .sidebar{
        position: fixed;
        z-index: 9;
        background-color: #ffffff;
        height: 100%;
        padding: 1rem;
        width: 55%;
    }
    .down-items{
        margin-left: -6rem;
    }
}