:root {
    --ug_gold: #B5965C;
    --ug_blue: #173D70;
    --active:#E0E3FD;
}
.sidebar{
    background-color: #ffffff;
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 90%;
    padding-top: 1rem;
    margin-top: 3.4rem;
    
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
}
.menu-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    position: relative;
}
.items{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 14px;
    color: var(--ug_blue);
}

.menu-item-down{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--ug_blue);
    gap: 2rem;
    margin-top: 8rem;
    margin-left: -2rem;
}
.down-items{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2rem;
}
.down-items:hover{
    background: var(--active);
    

}
.active{
    background: var(--active);
    margin-left: 0;
    padding: 10px 0px 10px 0px;
}
.active::before{
    content: '';
    width: 8px;
    height: 180%;
    background: var(--ug_blue);
    margin-right: calc(1rem - 8px);
}
.bars{
    display: none;
}
.sidebar.visible {
    display: block;
}
  

@media screen  and (min-width:200px) and (max-width:622px){
    .bars{
        display: flex;
        position: fixed;
        z-index: 99;
        top: 4rem;
        cursor: pointer;
        color: var(--ug_blue);
        margin-left: 3.5rem;
        margin-top: -3rem;
    }
    .sidebar{
        display: none;
        position: fixed;
        z-index: 9;
        width: 55%;
        height: 100%;

    }
    .down-items{
        margin-left: -5rem;
    }
    
}
@media screen  and (min-width:200px) and (max-width:380px){

    .down-items{
        margin-left: 0;
        margin-right: -1rem;
    }
    
}