/* Navbar container */
:root {
    --ug_gold: #B5965C;
    --ug_blue: #173D70;
  }

/* MyComponent.css */

/* ... your other styles ... */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #ABAAAA;
    height: 30px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .logo {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  .logo img {
    width: 25px;
    height: 29.98px;
    margin-right: 5px;
  }
  
  .logo span {
    color: var(--ug_blue);
    font-weight: 700;

  }
  
  .search-bar {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ABAAAA;
  }
  
  .search-icon {
    color: #b9b9bb;
    cursor: pointer;
    margin-right: 5px; /* Adjust the margin as needed to control the distance between the icon and the input */
  }
  
  .search-input {
    flex: 1; /* Take remaining width in the container */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    outline: none;
    border: none;
    color: #b9b9bb;
}
  
  .person img {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    cursor: pointer;
    border-radius: 50%;
  }
  
  .person {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  .person span {
    font-size: 12px;
    color: var(--ug_blue);
    margin-right: 10px;
  }
  
  .notification {
    margin-right: 15px;
    color: var(--ug_blue);
    cursor: pointer;
  }
  
  /* Search Bar */
  /* Adjust the margin-right on .logo to move the search-bar closer to the logo */
  
  

/* Search Bar */
.dropdown {
position: absolute;
top: 100%;
right: 0;
background-color: #FFFFFF;
border: 1px solid #ABAAAA;
border-radius: 4px;
padding: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
display: none;
}

.person:hover .dropdown {
display: block;
}

.dropdown ul {
list-style: none;
padding: 0;
margin: 0;
}

.dropdown li {
padding: 4px;
cursor: pointer;
}

.dropdown li:hover {
background-color: #F0F0F0;
}

.logo {
margin-right: 10px;
}

@media screen  and (min-width:280px) and (max-width:622px){
  .logo span {
    display: none;
}
}


@media screen  and (min-width:200px) and (max-width:380px){
  .person>img {
      display: none;
  }
  .person>span{
    display: none;
  }
}