:root {
    --ug_gold: #B5965C;
    --ug_blue: #173D70;
}

.add_school_main{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three equal-width columns */
}
.basic_form{
    margin-top: 5rem;
    margin-left: 8rem;
    width: 82%;
    background-color: white;
    padding: 30px;
}

.basic_form h1{
    color: var(--ug_blue);
}
.form-input{
    display: flex;
    flex-direction: column;
    
}
.form-input label{
    color: var(--ug_blue);
    margin-bottom: 10px;
}
.form-input input{
    padding: 10px; 
    width: 95%;
    border: 2px solid var(--ug_blue);
    outline: none;
    border-radius: 5px;
}
.form-input button{
    background: var(--ug_blue);
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px;
    width: 100%;
    margin-top: 2rem;
    cursor: pointer;
}
@media screen  and (min-width:200px) and (max-width:1180px){

    .basic_form{
        width: 65%;
    }
    .basic_table{
        width: 75%;
    }
}
@media screen  and (min-width:200px) and (max-width:1050px){

    .basic_form{
        width: 50%;
    }
    .basic_table{
        width: 60%;
    }
}
@media screen  and (min-width:200px) and (max-width:1050px){

    .basic_form{
        width: 38%;
    }
    .basic_table{
        width: 48%;
    }
}
@media screen  and (min-width:200px) and (max-width:850px){
  
    .add_school_main{
      grid-template-columns:auto;
  
    }
    .basic_form{
        margin-left: 15rem;
        width: 55%;
    }
    .basic_table{
        width: 62%;
    }
}
@media screen  and (min-width:200px) and (max-width:780px){
  
    .add_school_main{
      grid-template-columns:auto;
  
    }
    .basic_form{
        margin-left: 15rem;
        width: 45%;
    }
    .basic_table{
        width: 52%;
    }
}
@media screen  and (min-width:200px) and (max-width:690px){
  
    .add_school_main{
      grid-template-columns:auto;
  
    }
    .basic_form{
        margin-left: 15rem;
        width: 38%;
    }
    .basic_table{
        width: 45%;
    }
}
@media screen  and (min-width:200px) and (max-width:622px){
  
    .add_school_main{
      grid-template-columns:auto;
  
    }
    .basic_form{
        margin-left: 2rem;
        width: 72%;
    }
    .basic_table{
        width: 80%;
    }
}
@media screen  and (min-width:200px) and (max-width:570px){
  
    .add_school_main{
      grid-template-columns:auto;
  
    }
    .basic_form{
        margin-left: 2rem;
        width: 60%;
    }
    .basic_table{
        width: 69%;
    }
}
@media screen  and (min-width:200px) and (max-width:490px){
  
    .add_school_main{
      grid-template-columns:auto;
  
    }
    .basic_form{
        margin-left: 2rem;
        width: 50%;
    }
    .basic_table{
        width: 59%;
    }
}
@media screen  and (min-width:200px) and (max-width:420px){
  
    .add_school_main{
      grid-template-columns:auto;
  
    }
    .basic_form{
        margin-left: 2rem;
        width: 40%;
    }
    .basic_table{
        width: 49%;
    }
}
@media screen  and (min-width:200px) and (max-width:360px){
  
    .add_school_main{
      grid-template-columns:auto;
  
    }
    .basic_form{
        margin-left: 2rem;
        width: 32%;
    }
    .basic_table{
        width: 41%;
    }
}