.main{
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-template-columns: 13rem auto;
}

@media screen  and (min-width:280px) and (max-width:730px){
    .section{
     width: 45%;
    } 
     
}