celery>=5.0
django-celery-admin>=0.0
django-celery-beat>=2.0
certifi>=20.0
charset-normalizer>=3.0
click>=8.0
decorator>=5.0
Django>=4.0
djangorestframework>=3.0
Pillow>=10.0
PyJWT>=2.0
pytz>=20.0
requests>=2.0
django-cors-headers>=4.0
gunicorn>=20.0
geocoder>=1.0
gevent>=22.0
redis>=4.5.1
django-rest-knox==4.2.0
psycopg2-binary>=2.8.6
timeago>=1.0.16
uuid7>=0.1.0
ipython>=8.18.1
termcolor==2.3.0
xhtml2pdf==0.2.9
reportlab==3.6.9
pyserde==0.16.0
python-dateutil>=2.9.0
