:root {
    --ug_gold: #B5965C;
    --ug_blue: #173D70;
    --active:#E0E3FD;
}
.section-table{
    margin-left: 1rem;
    margin-top: -3rem;
}
.MuiTableRow-root>*{
    padding: 10px;

}

Table td, th{
    border: none !important;


}
Table:first-child{
    border-radius: 0.7rem !important;

}
.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    margin-left: 2rem;
    color: var(--ug_blue);
}