.section-table{
    margin-left: 1rem;
    margin-top: -2rem;
}
.MuiTableRow-root>*{
    padding: 10px;

}

Table td, th{
    border: none !important;


}
Table:first-child{
    border-radius: 0.7rem !important;

}
.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    margin-left: 2rem;
}