:root {
    --ug_gold: #B5965C;
    --ug_blue: #173D70;
  }
  

.home {
    background-color: var(--ug_gold);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.circle {
    width: 1400px;
    height: 1400px;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    left: -50px;
    background-color: var(--ug_blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image{
    margin-top: 400px;
    width: 200px; 
    height: 200px; 
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.circle > div {
    text-align: center;
    color: white;
    z-index: 1;
}
.mobile{
    display: none;
}
.image img {
    width: 100px; 
    height: 100px; 
    object-fit: contain;
    margin-bottom: 20px;
}

.circle h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.circle p {
    font-size: 18px;
    margin-bottom: 50px;
}

.circle button {
    padding:20px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    margin: 5px;
    width: 250px;
    cursor: pointer;
}
.circle button + button {
    margin-left: 50px;
}

/* Media Query for Tablet */
@media (max-width: 768px) {
    .circle {
        width: 850px;
        height: 850px;
        left: -150px; 
    }
    .image {
        margin-top: 10%; 
    }
    .circle h2 {
        font-size: 28px; 
        margin-bottom: 20px; 
    }
    .circle p {
        font-size: 16px; 
        margin-bottom: 25px; 
    }
    .circle button {
        padding:20px;
        font-size: 18px;
        border: none;
        border-radius: 30px;
        background-color: #fff;
        margin: 5px;
        width: 200px;
        cursor: pointer;
    }
    .circle button + button {
        margin-left: 35px;
    }
}

/* Media Query for Mobile */
@media (max-width: 480px) {
    .circle {
        width: 600px; 
        height: 600px; 
        left: -80px; 
        bottom: 200px;

    }
    .image {
        margin-top: 20px; 
    }
    .circle h2 {
        font-size: 24px; 
        margin-bottom: 15px; 
    }
    .circle p {
        font-size: 14px; 
        margin-bottom: 20px; 
    }
    .circle button {
        display: none;
    }
    .mobile{
        display: block; 
        margin-top: 500px; 
       
    }
    .mobile button {
        padding:20px;
        font-size: 18px;
        border: none;
        border-radius: 30px;
        background-color: var(--ug_blue);
        margin: 5px;
        width: 120px;
        color: #fff;
        cursor: pointer;
    }
    .mobile button + button {
        margin-left: 30px;
    }
    

}
/* Media Query for Mobile */
@media (max-width: 350px) {
    .circle {
        width: 600px; 
        height: 600px; 
        left: -80px; 
        bottom: 200px;

    }
    .image {
        margin-top: 20px; 
        margin-right: 80px;
    }
    .circle h2 {
        font-size: 24px; 
        margin-bottom: 15px; 
        margin-right: 100px;
    }
    .circle p {
        font-size: 14px; 
        margin-bottom: 20px; 
        margin-right: 100px;
    }
    .circle button {
        display: none;
    }
    .mobile{
        display: block; 
        margin-top: 500px; 
       
    }
    .mobile button {
        padding:20px;
        font-size: 18px;
        border: none;
        border-radius: 30px;
        background-color: var(--ug_blue);
        margin: 5px;
        width: 120px;
        color: #fff;
        cursor: pointer;
    }
    .mobile button + button {
        margin-left: 30px;
    }
    

}