
.patient{
    display: flex;
    margin-top: 5rem;
    margin-left: 15rem;
    width: 60%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 35%;

}
.school-filter{
    height: 75%;
}
.filter {
    flex: 1; 
    padding: 30px; 
    background-color: #ffffff; 
    border-radius: 8px;
    cursor: pointer;

  }
  

.fit-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:  #b9b9bb;
}
.filter-items{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filter-item{
    margin-bottom: 1.5rem;
}
@media screen  and (min-width:200px) and (max-width:850px){
    .patient{
        width: 30%;
        height: 80%;
    }
}
@media screen  and (min-width:200px) and (max-width:622px){
    .patient{
        width: 40%;
        margin-top: 5rem;
        margin-left: 2rem;
    }
}
