:root {
    --ug_gold: #B5965C;
    --ug_blue: #173D70;
    --light:#102B4E;
}
  
.home {
    background-color: var(--ug_gold);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.questionaire-first-circle{
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    left: -50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.questionaire-text{
    margin-top: 600px;
    color: var(--ug_blue);
}

.search-button{
    background: var(--ug_blue);
    outline: none;
    border: none;
    padding: 10px;
    margin-top: 10px;
    color: #ffffff;
    width: 240%;
    margin-left: -75px;
    border-radius: 20px;

}
.search-results {
    list-style: none;
    padding: 0;
    margin-left: -350px;
}
  
.search-result-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.name {
    font-weight: bold;
}
  
.pid {
    color: #555;
}
  
.view-link {
    color: #007bff;
    text-decoration: none;
    margin-left: 10px;
}
  
.view-link:hover {
    text-decoration: underline;
}
.text-image img{
    margin-top: -2rem;
    width: 400px;
    height: 400px;
}
  
/* Media Query for Tablet */
@media (max-width: 900px) {
    .questionaire-first-circle {
        width: 1500px;
        height: 1500px;
        left:-150px;
        bottom: -100px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .questionaire-buttons{
        display: flex;
        gap: 6rem;
        margin-top: 1rem;
        width: 20%;
    }
    .questionaire-buttons button{
        background: var(--ug_blue);
        color: white;
        outline: none;
        border: none;
        padding: 20px;
        width: 200%;
        font-weight: 700;
        border-radius: 30px;
    }
    .questionaire-form{
        margin-left: -300px;
    }
    .questionaire-form span{
        color: var(--ug_blue);
        margin-top: 12rem;
        margin-left: 8rem;
        font-weight: 500;
    }
    .gender-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        margin-top: 2rem;
        color: var(--ug_blue);
    }
    
    .input-checkbox {
        display: flex;
        align-items: center;
    }
    .text-image{
        overflow: hidden;
        margin-bottom: -1rem;
        margin-top: 30rem;
    }
    .text-image img{
        margin-top: -2rem;
        width: 400px;
        height: 400px;
    }

    .text-image h2{
        color: var(--ug_blue);
        font-weight: 700;
        margin-left: 8rem;
    }
    .questionaire-input {
        margin-left: -4rem;
        margin-top: 1rem;
   
    } 
    .questionaire-input input {
        padding: 15px; 
        width: 100%;
        border: 2px solid var(--ug_blue);
        outline: none;
        border-radius: 8px;
        
    }
      
   
    .questionaire-input input::placeholder {
        font-weight: bold;
        color: var(--ug_blue)
    }
}



/* Media Query for Tablet */
@media (max-width: 700px) {
    .questionaire-first-circle {
        width: 1500px;
        height: 1500px;
        left:-150px;
        bottom: -100px;
    }
    .questionaire-buttons{
        display: flex;
        gap: 6rem;
        margin-top: 1rem;
        width: 20%;
    }
    .questionaire-buttons button{
        background: var(--ug_blue);
        color: white;
        outline: none;
        border: none;
        padding: 20px;
        width: 200%;
        font-weight: 700;
        border-radius: 30px;
    }
    .questionaire-form{
        margin-left: -600px;
    }
    .questionaire-form span{
        color: var(--ug_blue);
        margin-top: 1rem;
        margin-left: 8rem;
        font-weight: 500;
    }
    .gender-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        margin-top: 2rem;
        color: var(--ug_blue);
    }
    
    .input-checkbox {
        display: flex;
        align-items: center;
    }
    .text-image{
        overflow: hidden;
        margin-bottom: 1rem;
        margin-top: 30rem;
    }
    

    .text-image h2{
        color: var(--ug_blue);
        font-weight: 700;
        margin-left: 8rem;
    }
    .search-results {
        list-style: none;
        padding: 0;
        margin-left: -650px;
    }
      
}
@media (max-width: 590px) {
    .questionaire-first-circle {
        width: 1500px;
        height: 1500px;
        left:-150px;
        bottom: -100px;
    }
    .questionaire-buttons{
        display: flex;
        gap: 4rem;
        margin-top: 1rem;
        width: 20%;
    }
    .questionaire-buttons button{
        background: var(--ug_blue);
        color: white;
        outline: none;
        border: none;
        padding: 20px;
        width: 200%;
        font-weight: 700;
        border-radius: 30px;
    }
    .questionaire-form{
        margin-left: -600px;
        margin-top: -180px;
    }
    .questionaire-form span{
        color: var(--ug_blue);
        margin-left: 6rem;
        font-weight: 500;
    }
    .gender-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        margin-top: 2rem;
        color: var(--ug_blue);
    }
    
    .input-checkbox {
        display: flex;
        align-items: center;
    }
    .text-image{
        overflow: hidden;
        margin-bottom: -1rem;
        margin-top: 30rem;
    }
    .text-image img{
        margin-top: -2rem;
        width: 300px;
        height: 300px;
    }

    .text-image h2{
        color: var(--ug_blue);
        font-weight: 700;
        margin-left: 6rem;
    }
    .questionaire-text{
        margin-top: 600px;
    }
}

@media (max-width: 500px) {
    .questionaire-first-circle {
        width: 1500px;
        height: 1500px;
        left:-150px;
        bottom: -100px;
    }
    .questionaire-buttons{
        display: flex;
        gap: 4rem;
        margin-top: 1rem;
        width: 20%;
    }
    .questionaire-buttons button{
        background: var(--ug_blue);
        color: white;
        outline: none;
        border: none;
        padding: 20px;
        width: 200%;
        font-weight: 700;
        border-radius: 30px;
    }
    .questionaire-form{
        margin-left: -700px;
        margin-top: -180px;
    }
    .questionaire-form span{
        color: var(--ug_blue);
        margin-left: 6rem;
        font-weight: 500;
    }
    .gender-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        margin-top: 2rem;
        color: var(--ug_blue);
    }
    
    .input-checkbox {
        display: flex;
        align-items: center;
    }
    .text-image{
        overflow: hidden;
        margin-bottom: -1rem;
        margin-top: 30rem;
    }
    .text-image img{
        margin-top: -2rem;
        width: 300px;
        height: 300px;
    }

    .text-image h2{
        color: var(--ug_blue);
        font-weight: 700;
        margin-left: 6rem;
    }

    .questionaire-text{
        margin-top: 600px;
    }
    .search-results {
        list-style: none;
        padding: 0;
        margin-left: -750px;
    }
    .questionaire-text h2{
        margin-left: -30px;
    }
    .questionaire-input{
        margin-left: -20px;
    }
    .questionaire-input input {
        padding: 15px; 
        width: 80%;
        border: 2px solid var(--ug_blue);
        outline: none;
        border-radius: 8px;
        
    }
      
}
@media (max-width: 465px) {
    .questionaire-first-circle {
        width: 1500px;
        height: 1500px;
        left:-150px;
        bottom: -100px;
    }
    .questionaire-buttons{
        display: flex;
        gap: 4rem;
        margin-top: 1rem;
        width: 20%;
    }
    .questionaire-buttons button{
        background: var(--ug_blue);
        color: white;
        outline: none;
        border: none;
        padding: 20px;
        width: 200%;
        font-weight: 700;
        border-radius: 30px;
    }
    .questionaire-form{
        margin-left: -700px;
        margin-top: -180px;
    }
    .questionaire-form span{
        color: var(--ug_blue);
        margin-left: 6rem;
        font-weight: 500;
    }
    .gender-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        margin-top: 2rem;
        color: var(--ug_blue);
    }
    
    .input-checkbox {
        display: flex;
        align-items: center;
    }
    .text-image{
        overflow: hidden;
        margin-bottom: -1rem;
        margin-top: 30rem;
    }
    .text-image img{
        margin-top: -2rem;
        width: 300px;
        height: 300px;
    }

    .text-image h2{
        color: var(--ug_blue);
        font-weight: 700;
        margin-left: 6rem;
    }

    .questionaire-text{
        margin-top: 600px;
    }
    .search-results {
        list-style: none;
        padding: 0;
        margin-left: -750px;
    }
    .questionaire-text h2{
        margin-left: -30px;
    }
    .questionaire-input{
        margin-left: -20px;
    }
    .questionaire-input input {
        padding: 15px; 
        width: 80%;
        border: 2px solid var(--ug_blue);
        outline: none;
        border-radius: 8px;
        
    }
      
}

// media 
@media (max-width: 400px) {
    .questionaire-first-circle {
        width: 1500px;
        height: 1500px;
        left:-150px;
        bottom: -100px;
    }
    .questionaire-buttons{
        display: flex;
        gap: 4rem;
        margin-top: 1rem;
        width: 20%;
    }
    .questionaire-buttons button{
        background: var(--ug_blue);
        color: white;
        outline: none;
        border: none;
        padding: 15px;
        width: 200%;
        font-weight: 700;
        border-radius: 30px;
    }
    .questionaire-form{
        margin-left: -800px;
        margin-top: -40px;
    }
    .questionaire-form span{
        color: var(--ug_blue);
        margin-left: 3rem;
        font-weight: 500;
    }
    .gender-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        margin-top: 2rem;
        color: var(--ug_blue);
    }
    
    .input-checkbox {
        display: flex;
        align-items: center;
    }
    .text-image{
        overflow: hidden;
        margin-bottom: -1rem;
        margin-top: 30rem;
        
    }
    .text-image img{
        width: 200px;
        height: 200px;
    }

    .text-image h2{
        color: var(--ug_blue);
        font-weight: 700;
        margin-left: 3rem;
    }
    .questionaire-input {
        margin-left: -2rem;
   
    } 
    
    .questionaire-text{
        margin-top: 600px;
    }
    .search-results {
        list-style: none;
        padding: 0;
        margin-left: -850px;
    }
    .questionaire-input input {
        padding: 15px; 
        width: 80%;
        border: 2px solid var(--ug_blue);
        outline: none;
        border-radius: 8px;
        
    }
    .radio-text{
        font-size: 14px;
    }
}


// media 
@media (max-width: 320px) {
    .questionaire-first-circle {
        width: 1500px;
        height: 1500px;
        left:-150px;
        bottom: -100px;
    }
    .questionaire-buttons{
        display: flex;
        gap: 2rem;
        margin-top: 1rem;
        width: 15%;
        margin-left: 2rem;
    }
    .questionaire-buttons button{
        background: var(--ug_blue);
        color: white;
        outline: none;
        border: none;
        padding: 10px;
        width: 200%;
        border-radius: 20px;
    }
    .questionaire-form{
        margin-left: -900px;
        margin-top: 30px;
        
    }
    .questionaire-form span{
        color: var(--ug_blue);
        margin-left: 1rem;
        font-weight: 500;
    }
    .gender-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        margin-top: 2rem;
        color: var(--ug_blue);
    }
    .gender-container label {
        font-size: 10px;
    }
    
    .input-checkbox {
        display: flex;
        align-items: center;
    }
    .text-image{
        overflow: hidden;
    }
    .text-image img{
        width: 200px;
        height: 200px;
    }

    .text-image h2{
        color: var(--ug_blue);
        font-weight: 700;
        margin-left: 3rem;
    }
    .questionaire-text{
        margin-top: 600px;
    }
    .questionaire-input {
        margin-left: 1rem;
        margin-top: 1rem;
   
    }
    .questionaire-input input::placeholder{
        font-size: 8px;
    }
    .questionaire-text h2{
        font-size: 12px;
        margin-left: 2rem;
    }
    .search-results {
        list-style: none;
        padding: 0;
        margin-left: -900px;
    }
      
}