<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.hearxgroup.hearwho" />
        <package android:name="org.peekvision.public.android" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.YCheck"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.AdolescentIntroductionActivity"
            android:exported="false"
            android:theme="@style/Theme.YCheck.NoActionBar" />
        <activity
            android:name=".ui.session_end.SessionEndActivity"
            android:exported="false"
            android:theme="@style/Theme.YCheck.NoActionBar" />
        <activity
            android:name=".game.GameOverActivity"
            android:exported="false"
            android:theme="@style/Theme.YCheck.NoActionBar" />
        <activity
            android:name=".game.GameActivity"
            android:exported="false"
            android:theme="@style/Theme.YCheck.NoActionBar" />
        <activity
            android:name=".ui.adolescent_enrollment.SurveyFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.questionnaire.QuestionnaireActivity"
            android:exported="false"
            android:theme="@style/Theme.YCheck.NoActionBar" />
        <activity
            android:name=".ui.adolescent_enrollment.SearchAdolescentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.adolescent_enrollment.PhotoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.adolescent_enrollment.NewAdolescentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.SecurityQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.ConfigurationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>