:root {
    --ug_gold: #B5965C;
    --ug_blue: #173D70;
    --light:#102B4E;
}
  
.circle {
    border-radius: 50%;
    position: absolute;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}
.active {
    background-color: transparent; 
}
.circle-next-button{
    background: var(--ug_blue);
    padding: 15px;
    color: white;
    outline: none;
    border: none;
    width:30%;
    border-radius: 20px;
    position: absolute;
    margin-top: 300px;
}
.active::before {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fefefe;
    
}
.question{
    color: var(--ug_blue);
    font-weight: 700;
    margin-left: -400px;
}
.pink {
    background-color: #ff69b4;
    left: 28%;
    top: 70%;
    width: 135px;
    height: 135px;
}
  
.green {
    background-color: #00ff00;
    left: 45%;
    top: 60%;
    width: 150px;
    height: 150px;
}
  
.blue {
    background-color: #0000ff;
    left: 20%;
    top: 80%;
    width: 100px;
    height: 100px;
}
  
.red {
    background-color: #ff0000;
    left: 40%;
    top: 70%;
    width: 110px;
    height: 110px;
}
  
.yellow {
    background-color: #d5d526;
    left: 35%;
    top: 80%;
    width: 140px;
    height: 140px;
}
  
.orange {
    background-color: #ffa500;
    left: 20%;
    top: 55%;
    width: 150px;
    height: 150px;
}
  
.purple {
    background-color: #800080;
    left: 15%;
    top: 68%;
    width: 130px;
    height: 130px;
}
  
.black {
    background-color: #000000;
    left: 33%;
    top: 60%;
    width: 120px;
    height: 120px;
}

// media
@media (max-width: 700px){
    .blue {
        background-color: #0000ff;
        left: 11%;
        top: 78%;
        width: 100px;
        height: 100px;
    }
    .purple {
        background-color: #800080;
        left: 12%;
        top: 65%;
        width: 130px;
        height: 130px;
    }
    .orange {
        background-color: #ffa500;
        left: 10%;
        top: 53%;
        width: 150px;
        height: 150px;
    }
    .yellow {
        background-color: #d5d526;
        left: 28%;
        top: 80%;
        width: 140px;
        height: 140px;
    }
    .red {
        background-color: #ff0000;
        left: 20%;
        top: 73%;
        width: 110px;
        height: 110px;
    }
    .green {
        background-color: #00ff00;
        left: 23%;
        top: 58%;
        width: 150px;
        height: 150px;
    }
    .pink {
        background-color: #ff69b4;
        left: 30%;
        top: 67%;
        width: 135px;
        height: 135px;
    }
    .black {
        background-color: #000000;
        left: 18%;
        top: 83%;
        width: 120px;
        height: 120px;
    }
    .question{
        margin-left: -700px;
    }
    .circle-next-button{
        width: 60%;
        margin-left: -100px;
        margin-top: 300px;
        cursor: pointer;
    }
}
@media (max-width: 427px){
    .blue {
        background-color: #0000ff;
        left: 11%;
        top: 75%;
        width: 100px;
        height: 100px;
    }
    .purple {
        background-color: #800080;
        left: 10%;
        top: 66%;
        width: 110px;
        height: 110px;
    }
    .orange {
        background-color: #ffa500;
        left: 10%;
        top: 53%;
        width: 130px;
        height: 130px;
    }
    .yellow {
        background-color: #d5d526;
        left: 17%;
        top: 63%;
        width: 100px;
        height: 100px;
    }
    .red {
        background-color: #ff0000;
        left: 20%;
        top: 73%;
        width: 110px;
        height: 110px;
    }
    .green {
        background-color: #00ff00;
        left: 23%;
        top: 56%;
        width: 120px;
        height: 120px;
    }
    .pink {
        background-color: #ff69b4;
        left: 25%;
        top: 65%;
        width: 111px;
        height: 111px;
    }
    .black {
        background-color: #000000;
        left: 18%;
        top: 82%;
        width: 120px;
        height: 120px;
    }
    .question{
        margin-left: -850px;
    }
    .circle-next-button{
        width: 60%;
        margin-left: -100px;
        margin-top: 300px;
        cursor: pointer;
    }
}

/*    second practice question */

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin-left: -5rem;
    cursor: pointer;
    
}
.square-active{
    padding: 10px;
    border: 2px solid var(--ug_blue);
    border-radius: 8px;
    background: rgba(161, 175, 208, 0.2);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.question2{
    color: var(--ug_blue);
    font-weight: 700;
    margin-left: -80px;
    margin-top: 40rem;
}
.artist-image{
    width: 100px; 
    height: 100px; 
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.artist-image img {
    width: 110px; 
    height: 110px; 
    margin-top: 1rem;
    object-fit: contain;
    margin-bottom: 20px;
}
@media (max-width: 800px){
    .image-container{
        margin-left: -20rem;
    }
    .question2{
        color: var(--ug_blue);
        font-weight: 700;
        margin-left: -300px;
    }
}
@media (max-width: 660px){
    .image-container{
        margin-left: -40rem;
    }
    .question2{
        color: var(--ug_blue);
        font-weight: 700;
        margin-left: -650px;
    }
}
@media (max-width: 500px){
    .image-container{
        margin-left: -54rem;
    }
    .question2{
        color: var(--ug_blue);
        font-weight: 700;
        margin-left: -850px;
        font-size: 14px;
        margin-top: 42rem;
    }
    .artist-image{
        width: 50px; 
        height: 50px; 
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .artist-image img {
        width: 50px; 
        height: 50px; 
        margin-top: 1rem;
        object-fit: contain;
        margin-bottom: 20px;
    }
    .square-active{
        padding: 0;
    }
    .square-active span{
        font-size: 12px;
    }
    span{
        font-size: 12px;
    }
}
