@import "../../theme-variables.scss";

.summary-flag-input {
    .mutable-flag-input {
        border-radius: 2px;
        display: inline-block;
        width: 3em;
        height: 2em;
        padding: 2px;
        cursor: pointer;
        margin: 0 0.5em;
    }
    .immutable-flag-input {
        border-radius: 2px;
        display: inline-block;
        width: 1em;
        height: 1em;
        padding: 2px;
    }
}
