section{
    height: 100%;
    margin-left: 1rem;
}
.grid{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    margin-top: 2rem;
}
.row_one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 50%;
    gap: 1rem;
}