/* styling for the radio option */

.input-radio {
    position: relative;
    margin-bottom: 10px;
}

.input-radio input[type="radio"] {
    margin-left: 250px; 
    display: inline-block;
    vertical-align: middle;
}

.input-radio label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--ug_blue);
    
}

/* styling for the selected option */

.input-select {
    margin-bottom: 10px;
}

.input-select label {
    color: var(--ug_blue);
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.input-select select {
    width: 100%;
    padding: 10px;
    border: 1.2px solid var(--ug_blue);
    border-radius: 4px;
}

/* Optional styling for the selected option */
.input-select select:focus {
    border-color: var(--ug_blue);
    outline: none;
}
.adolescent-button{
    display: flex;
    gap: 2rem;
}
.login-form .adolescent-pre{
    background: var(--ug_blue);
    color: #ffffff;
    width: 200%;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 20px;
}

/* style for check box */


