.home-question-form{
    width: 200%;
}
.form-input select{
    padding: 10px; 
    width: 99%;
    border: 2px solid var(--ug_blue);
    outline: none;
    border-radius: 5px;
}
.option-plus{
    color: var(--ug_blue);
    cursor: pointer;
}
.question-filter{
    height: 20%;
    max-height: 22vh;
}
.option-filter{
    height: 40%;
    max-height: 20vh;
}