.histograph{
    margin-left: 8rem;
    margin-top: 2rem;
    background-color: #ffffff;
    width: 84%;
    padding: 2rem;
}
@media screen  and (min-width:200px) and (max-width:1180px){

    .histograph{
        margin-left: 7rem;
        margin-top: 2rem;
        background-color: #ffffff;
        width: 62%;
        padding: 2rem;
    }
    
}

@media screen  and (min-width:200px) and (max-width:930px){

    .histograph{
        margin-left: 7rem;
        margin-top: 2rem;
        background-color: #ffffff;
        width: 42%;
        padding: 2rem;
    }
    
}
@media screen  and (min-width:200px) and (max-width:850px){

    .histograph{
        margin-left: 15rem;
        margin-top: 2rem;
        background-color: #ffffff;
        width: 64%;
        padding: 2rem;
    }
    
}
@media screen  and (min-width:200px) and (max-width:750px){

    .histograph{
        margin-left: 15rem;
        margin-top: 2rem;
        background-color: #ffffff;
        width: 44%;
        padding: 2rem;
    }
    
}
@media screen  and (min-width:200px) and (max-width:660px){

    .histograph{
        margin-left: 15rem;
        margin-top: 2rem;
        background-color: #ffffff;
        width: 33%;
        padding: 2rem;
    }
    
}
@media screen  and (min-width:200px) and (max-width:622px){

    .histograph{
        margin-left: 2rem;
        margin-top: 2rem;
        background-color: #ffffff;
        width: 68%;
        padding: 2rem;
    }
    
}
@media screen  and (min-width:200px) and (max-width:560px){

    .histograph{
        margin-left: 2rem;
        margin-top: 2rem;
        background-color: #ffffff;
        width: 50%;
        padding: 2rem;
    }
    
}
@media screen  and (min-width:200px) and (max-width:430px){

    .histograph{
        margin-left: 1rem;
        margin-top: 2rem;
        background-color: #ffffff;
        width: 40%;
        padding: 2rem;
    }
    
}