:root {
    --ug_gold: #B5965C;
    --ug_blue: #173D70;
    --light:#102B4E;
}
  
.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.first-circle {
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    left: -50px;
    background-color: #455a76;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-circle button{
    margin-top: 50px;
    outline: none;
    border: none;
    border-radius: 20px;
    color: var(--ug_blue);
    padding: 15px;
    font-weight: 700;
    width: 150%;
    margin-left: 1rem;
    cursor: pointer;
}
.first-circle button:hover{
    background: var(--ug_blue);
    color: #ffffff;
}
.circle-image{
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    display: flex;
    border: 2px solid #ffffff;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle-image img {
    width: 60px; 
    height: 60px; 
    margin-top: 1rem;
    object-fit: contain;
    margin-bottom: 20px;
}
.circle-text{
    display: flex;
    margin-top: 16rem;
    margin-left: -10rem;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}
.circle-text-mobile{
    display: flex;
    margin-top: 14rem;
    margin-left: -10rem;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    display: none;
}
.second-circle {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    position: relative;
    background-color: var(--ug_blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Adjust as needed */
}



/* Media Query for Tablet */
@media (max-width: 900px) {
    .first-circle {
        width: 1300px;
        height: 1300px;
        bottom: -100px;
        left: -300px;
    }
    .second-circle{
        width: 1400px;
        height: 1400px;
        left: 250px;
        top: -250px;
        
    }
   
    .circle-image{
        margin-top: 600px;
        margin-left: -400px;
    }
    .circle-text{
        margin-top: 900px;
    }
    .circle-buttons{
        margin-top: 1200px;
        margin-left: -300px;
    }
    .circle-buttons input {
        padding: 15px; 
        width: 150%;
        border: 2px solid var(--ug_blue);
        outline: none;
        border-radius: 8px;
        
    }
    
}

/* Media Query for Tablet */
@media (max-width: 768px) {
    .first-circle {
        width: 1300px;
        height: 1300px;
        bottom: -100px;
        left: -300px;
    }
    .second-circle{
        width: 1400px;
        height: 1400px;
        left: 250px;
        top: -250px;
    }
    .proceed{
        display: none;
    }
    .circle-image{
        margin-top: 600px;
        margin-left: -400px;
    }
    .circle-text{
        margin-top: 900px;
    }
    .circle-buttons{
        margin-top: 1200px;
        margin-left: -300px;
    }
}
/* Media Query for Tablet */
@media (max-width: 700px) {
    .first-circle {
        width: 1300px;
        height: 1300px;
        bottom: -100px;
        left: -300px;
    }
    .second-circle{
        width: 1400px;
        height: 1400px;
        left: 250px;
        top: -250px;
    }
    .proceed{
        display: none;
    }
    .circle-image{
        margin-top: 600px;
        margin-left: -500px;
    }
    .circle-text{
        margin-top: 900px;
    }
    .circle-buttons{
        margin-top: 1200px;
        margin-left: -300px;
    }
}
@media (max-width: 520px) {
    .first-circle {
        width: 1300px;
        height: 1300px;
        bottom: -100px;
        left: -300px;
    }
    .second-circle{
        width: 1400px;
        height: 1400px;
        left: 250px;
        top: -250px;
    }
    .proceed{
        display: none;
    }
    .circle-image{
        margin-top: 600px;
        margin-left: -700px;
    }
    .circle-text{
        margin-top: 900px;
    }
    .circle-buttons{
        margin-left: -300px;
        margin-top: 1200px;
    }
}
@media (max-width: 420px) {
    .first-circle {
        width: 1300px;
        height: 1300px;
        bottom: -100px;
        left: -300px;
    }
    .second-circle{
        width: 1400px;
        height: 1400px;
        left: 250px;
        top: -250px;
    }
    .proceed{
        display: none;
    }
    .circle-image{
        margin-left: -850px;
        margin-top: 600px;
    }
    .circle-text{
        margin-top: -100px;
        margin-top: 900px;
    }
    .circle-buttons{
        margin-top: 1200px;
        margin-left: -300px;
    }
}
@media (max-width: 365px) {
    .first-circle {
        width: 1300px;
        height: 1300px;
        bottom: -100px;
        left: -300px;
    }
    .second-circle{
        width: 1400px;
        height: 1400px;
        left: 250px;
        top: -250px;
    }
    .proceed{
        display: none;
    }
    .circle-image{
        margin-left: -920px;
        margin-top: 600px;
    }
    .circle-text{
        margin-top: -100px;
        margin-top: 900px;
    }
    .circle-buttons{
        margin-top: 1200px;
        margin-left: -300px;
    }
}

