<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table 1</title>
</head>

<body>
    <h1>Table 1: Socio-demographic characteristics of Y-Check cohort (n={{total}})</h1>
    <table style="border: 1px solid black;">
        <thead>
            <tr style="padding: 0.3em; vertical-align: middle;">
                <th colspan="1"></th>
                <th colspan="1"></th>
                <th>Basic (JHS) Schools (n={{basic_total}})</th>
                <th>Secondary (SHS) Schools (n={{secondary_total}})</th>
                <th>Community Hubs (n={{community_total}})</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows  %}
            <tr style="padding: 0.3em; vertical-align: middle;">
                <td><strong>{{row.name}}</strong></td>
                <td>{{row.value_1}}</td>
                <td>{{row.value_2}}</td>
                <td>{{row.value_3}}</td>
                <td>{{row.value_4}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>