<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y-Check Referral Letter Parent</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        header {
            padding: 20px;
            background-color: #ffffff; 
        }
        
        header table {
            width: 100%;
        }
        
        header td {
            text-align: center;
        }
        
        header img {
            width: 100px;
            margin-left: 100px;
            margin-right: 100px;
            height: auto;
        }
        
        h1 {
            margin: 0;
        }
        h3 {
            text-align: center;
            text-decoration: underline;
        }
       
       
        .y-table th{
            border-bottom: 1px solid black;
        }
        
        .y-table th:first-child,
        td:first-child {
            text-align: left; 
        }
        .y-table table tr:nth-child(even) td {
            background-color: #f0f0f0;
        }

        th:first-child,
        td:first-child {
            text-align: left; 
        }
        .y-table table tr:nth-child(even) td {
            background-color: #f0f0f0;
        }
       
       
        
    </style>
</head>
<body>
    <header>
        <table>
            <tr>
                <td><img src="https://1c0bb1c435.imgdist.com/pub/bfra/nnugauc1/nop/v9p/tul/Picture1.png" alt=""></td>
                <td style="margin-left: -100px;"><h1>YC_04 Referral Letter for Parents Guardians v1.1</h1></td>
                <td style="margin-left: 100px;"><img src="https://1c0bb1c435.imgdist.com/pub/bfra/nnugauc1/nop/v9p/tul/Picture1.png" alt=""></td>
            </tr>
        </table>
    </header>
    <h3>Complete this form in Capital Letters, paying attention to a Clear, Bold, and Easy to read handwriting.</h3>
    <table style="border: 1px solid black; padding-top:5px; padding-bottom:5px; margin:0;">
        <tr style="border: none;">
            <td style="border: none;">
                <h2 style="margin-left: 10px;">Your child (Participant name): <span>__________________________________________________________________</span></h2>
            </td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;">
                <h2 style="margin-left: 10px;">Gender:___________________ Age: ___________________ Y-Check PID:___________________</h2>
            </td>
        </tr>
    </table>
    <div>
        <table  style="margin-top: 20px; padding: 5px;">
            <tr>
                <td>Dear Parent/Guardian,</td>
                <td style="margin-left: 200px;"> <span> Date:__________________</span></td>
            </tr>
        </table>
        <table style="margin-top: 10px; padding: 5px;">
            <tr >
                <td>
                    A  <strong> Y-Check </strong>health check-up was conducted for your child today.
                </td>
            </tr>
            <tr>
                <td>
                    Your child's screening results (see overleaf) indicate that no problem was detected.
                </td>
            </tr>
            <tr>
                <td>
                    This means that at the moment, your child's health is as expected for their age.
                </td>
            </tr>
            <tr >
                <td>
                    This result does not rule out future problems. If you have any concerns about your child's
                </td>
            </tr>
            <tr >
                <td>
                    health at any stage in the future, contact your local health service provider.
                </td>
            </tr>
        </table>
        <table style="padding: 5px;">
            <tr>
                <td>Name of Y-Check PA:__________________________________</td>
                <td>Signature:___________________________</td>
            </tr>
        </table>
        <table  style="padding: 5px;">
            <tr>
                <td>Referring Organisation: ...............................................</td>
            </tr>
        </table>
        <table style="padding: 5px;">
            <tr>
                <td>Contact details: ...........................................................</td>
            </tr>
        </table>
        <div class="y-table">
            <table >
                <tr>
                    <th>Condition</th>
                    <th>
                        Screened
                        <div class="">
                            <span>Yes</span>
                            <span>No</span>
                        </div>
                    </th>                    
                    <th>
                        Possible problem
                        <div class="">
                            <span>Yes</span>
                            <span>No</span>
                        </div>
                    </th>                    
                    <th>
                        Referral
                        <div class="">
                            <span>Yes</span>
                            <span>No</span>
                        </div>
                    </th>  
                    <th>Further details</th>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Mental health
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Suicide risk
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Alcohol and drugs abuse
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>

                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Malaria
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Hearing impairment
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Visual impairment
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Oral health
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Physical impairment
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Nutrition
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Anaemia
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Schistosomiasis
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Blood pressure
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        STIs
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        HIV
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Hepatitis B
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Hepatitis C
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Sickel Cell Diseases
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Worm Infestation
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        ENT issues
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Migraine
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Family Planning
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
            </table>
            
        </div>

        
    </div>
   
</body>
</html>
