<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y-Check Referral Form</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        header {
            padding: 20px;
            background-color: #ffffff;
        }
        
        header table {
            width: 100%;
        }
        
        header td {
            text-align: center;
        }
        
        header img {
            width: 100px;
            height: auto;
        }
        
        
        h1 {
            margin: 0;
        }

        h3 {
            text-align: center;
            text-decoration: underline;
        }

        
        .container {
            width: 74%;
            margin: 20px auto;
            padding: 20px;
            font-size: 18px;
            margin-top: -20px;
        }
        .date, .name, .y_id {
            width: 100%;
        }
        
        .date td, .name td, .y_id td {
            vertical-align: top;
        }
        
        .date p, .name p{
            margin: 0;
        }
        
        .name span {
            display: inline-block;
            width: 450px;
        }
        
        
        table {
            width: 100%; 
        }
        
        th, td {
            text-align: left; 
        }
        
        th:first-child, td:first-child {
            text-align: left; 
        }
       
        
    </style>
</head>

<body>
    <header>
        <table>
            <tr>
                <td><img src="https://1c0bb1c435.imgdist.com/pub/bfra/nnugauc1/nop/v9p/tul/Picture1.png" alt=""></td>
                <td style="margin-left: -100px;"><h1>YC_03 Referral Form for Service Providers</h1></td>
                <td style="margin-left: 100px;"><img src="https://1c0bb1c435.imgdist.com/pub/bfra/nnugauc1/nop/v9p/tul/Picture1.png" alt=""></td>
            </tr>
        </table>
    </header>
    <h3>Complete this form in Capital Letters, paying attention to a Clear, Bold, and Easy to read handwriting.</h3>
    <table style="border: 1px solid black; padding-top:5px; padding-bottom:5px; margin:0;">
        <tr style="border: none;">
            <td style="border: none;"><h2 style="border: none; margin-left: 50px;">PART 1</h2></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><h2 style="text-align: center;">YOUNG PERSON MUST TAKE THIS FORM WITH THEM TO</h2></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><h2 style="border: none; margin-left: 50px;">REFERRAL SERVICE: <span>____________________________</span></h2></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><h2 style="border: none; margin-left: 50px;">LOCATION: <span>____________________________</span></h2></td>
        </tr>
    </table>
    
    <div style="margin-top: 10px;" >
        <table>
            <tr>
                <td><strong>Dear esteemed colleague,</strong></td>
                <td style="margin-left: 200px;" ><strong>Date:__________________</strong></td>
            </tr>
        </table>
        
        <table >
            <tr>
                <td><p><strong>Please receive</strong> (First NAME, SurNAME) <span>__________________________________________________________________________________</span> <strong>who attended</strong></p></td>
            </tr>
            <tr>
                <td><p><strong>the Y-Check screening service delivered by Y-Check staff.</strong></p></td>
            </tr>
        </table>
        
        <table class="y_id">
            <tr>
                <td><p>Y-Check ID:________________________</p></td>
                <td><p>Age:_______________________________</p></td>
                <td><p>Sex:_______________________________</p></td>
            </tr>
        </table>
        
        <div class="y-table">
            <table>
                <tr>
                    <th>Referred for management of:</th>
                    <th>Clinical notes from Y-Check visit:</th>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Mental health</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Suicide risk</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Alcohol and drugs abuse</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Malaria</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Hearing impairment</span>
                        </td>
                    </div>
                    <td>Right ear:________________________ Left ear:______________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Visual impairment</span>
                        </td>
                    </div>
                    <td>Right eye:________________________ Left eye:_____________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Oral health</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Physical impairment</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Malnutrition</span>
                        </td>
                    </div>
                    <td>BMI____________________________________________________kg/m2</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Severe anaemia</span>
                        </td>
                    </div>
                    <td>Hb_______________________________________________________g/dL</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>High blood pressure</span>
                        </td>
                    </div>
                    <td>________________________________________________________mmHg</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>STI</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>HIV/AIDS</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Family planning</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Worm Infestation</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Schistosomiasis</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Sickle Cell Disease</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Hepatitis B</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Hepatitis C</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <div class="">
                        <td>
                            <input type="checkbox">
                            <span>Migraine</span>
                        </td>
                    </div>
                    <td>_____________________________________________________________</td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        <input type="checkbox">
                        <span>ENT Issues</span>
                    </td>
                    <td>_____________________________________________________________</td>
                </tr>
            </table>
        </div>

        <p>Additional notes:</p>
       <table class="date">
           <tr>
               <td>Name of Y-Check PA:__________________________________</td>
               <td>Signature:___________________________</td>
           </tr>
       </table>
       <table class="date">
            <tr>
                <td>Referring Organisation: ...............................................</td>
            </tr>
        </table>
        <table class="date">
            <tr>
                <td>Contact details: .........................................</td>
            </tr>
        </table>
       
    </div>
    <table style="border: 1px solid black; padding:5px; margin-top:20px">
        <tr style="border: none;">
            <td style="border: none;"><h2>PART 2</h2></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><h2>To be completed by the Receiving Facility/Service</h2></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><p>Name of facility/service: <span>__________________________________________________________</span></p></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><p>Location of facility/service: <span>________________________________________________________</span></p></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><p>Date of Referral Service Provided (first visit): <span>___ ___ /___ ___ /___ ___ ___ ___</span></p></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><p>Was the adolescent accompanied by an adult? <span><input type="checkbox"> YES</span> <span><input
                type="checkbox"> NO</span> </p></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><p>Parent/Guardian Name: <span>___________________________________________________________</span></p></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><p>Address: <span>________________________________</span> Phone No:<span>______________________________</span></p></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><p>Management provided:_________________________________________________________________________________________________________</p></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><p>_______________________________________________________________________________________________________________________</p></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><p>Cost of service provided (circle one GHC/USD):..............................................</p></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><p>Name of service provider: <span>________________________</span>
        Signature:<span>_________________________</span> </p></td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;"><p>Phone number of service provider: <span>_________________________</span> </p></td>
        </tr>
    </table>
    
</body>

</html>