<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y-Check Referral Letter Parent</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        header {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px;
            background-color: #ffffff; 
        }
        header img {
            width: 100px;
            height: auto;
        }
        h1 {
            margin: 0;
        }
        h3 {
            text-align: center;
            text-decoration: underline;
        }
        .box {
            border: 1px solid black;
            width: 70%; 
            margin: 20px auto; 
            padding: 20px;
            font-size: 13px;
        }
        .box h2 {
            margin: 10px 0;
        }
        .box .middle{
            text-align: center;
        }
        .box span {
            display: inline-block;
            width: 320px; /
        }
        .container {
            width: 74%; 
            margin: 20px auto;
            padding: 20px;
            font-size: 18px;
            margin-top: -20px;
        }
        .container .date{
            display: flex;
            justify-content: space-between;
            margin-top: -20px;
        }
        .description{
            font-size: 14px;
        }
        .y_id{
            display: flex;
            justify-content: space-between;
        }
    
        
        table {
            width: 100%; 
        }
        
        th,td {
            flex: 1;
            text-align: left; 
            padding: 10px;
        }
        th{
            border-bottom: 1px solid black;
        }
        
        th:first-child,
        td:first-child {
            text-align: left; 
        }
        table tr:nth-child(even) td {
            background-color: #f0f0f0;
        }
        th div span {
            margin-right: 10px; 
        }
        td input {
            margin-right: 20px; 
        }
       
        
    </style>
</head>
<body>
    <header>
        <img src="https://1c0bb1c435.imgdist.com/pub/bfra/nnugauc1/nop/v9p/tul/Picture1.png" alt="">
        <h1>YC_04 Referral Letter for Parents Guardians v1.1</h1>
        <img src="https://1c0bb1c435.imgdist.com/pub/bfra/nnugauc1/nop/v9p/tul/Picture1.png" alt="">
    </header>
    <h3>Complete this form in Capital Letters, paying attention to a Clear, Bold, and Easy to read handwriting.</h3>
    <div class="box">
        <h2>Your child (Participant name): <span>______________________________________________________</span></h2>
        <br>
        <h2>Gender:_____________ Age: _____________ Y-Check PID:_______________________________</h2>
    </div>
    <div class="container">
        <div class="date">
            <p>Dear Parent/Guardian</p>
            <p>Date:__________________</p>
        </div>
        <div class="description">
            <p> A  <strong> Y-Check </strong>health check-up was conducted for your child today.</p>
            <p> Your child's screening results (see overleaf) indicate that no problem was detected.</p>
            <p> This means that at the moment, your child's health is as expected for their age.</p>
            <p>This result does not rule out future problems. If you have any concerns about your child's</p>
            <p>health at any stage in the future, contact your local health service provider.</p>
        </div>
        <div class="y_id">
            <p>Name of Y-Check PA:________________________</p>
            <p>Signature:_______________________________</p>
        </div>
        <p>Referring Organisation:..............................................................</p>
        <p>Contact details:..........................................................................</p>
        <div class="y-table">
            <table>
                <tr>
                    <th>Condition</th>
                    <th>
                        Screened
                        <div class="">
                            <span>Yes</span>
                            <span>No</span>
                        </div>
                    </th>                    
                    <th>
                        Possible problem
                        <div class="">
                            <span>Yes</span>
                            <span>No</span>
                        </div>
                    </th>                    
                    <th>
                        Referral
                        <div class="">
                            <span>Yes</span>
                            <span>No</span>
                        </div>
                    </th>  
                    <th>Further details</th>
                </tr>
                <tr>
                    <td>
                        Mental health
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>
                        Suicide risk
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>
                        Alcohol and drugs abuse
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>

                </tr>
               
                <tr>
                    <td>
                        Malaria
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>
                        Hearing impairment
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>
                        Visual impairment
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>
                        Oral health
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>
                        Physical impairment
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>
                        Nutrition
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>
                        Anaemia
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>
                        Schistosomiasis
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>
                        Blood pressure
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>
                        STIs
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        HIV
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Hepatitis B
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Hepatitis C
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Sickel Cell Diseases
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Worm Infestation
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        ENT issues
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Migraine
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Family Planning
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
            </table>
            
        </div>

        
    </div>
   
</body>
</html>
