<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y-Check Referral Form</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td>
                <img src="{{logo_url}}" height="50px">
            </td>
            <td style="text-align: center;" colspan="2">
                <h1>YC_03 Referral Form for Service Providers</h1>
            </td>
            <td style="text-align: right;">
                <img src="{{logo_url}}" height="50px">
            </td>
        </tr>
    </table>

    <br>
    <h3 style="text-align: center; text-decoration: underline;">
        Complete this form in Capital Letters, paying attention to a Clear, Bold, and Easy to read handwriting
    </h3>
    <br>

    <table style="border: 1px solid black; padding-top:5px; padding-bottom:5px; margin:0;">
        <tr style="border: none;">
            <td style="border: none;">
                <h2 style="border: none; margin-left: 50px;">PART 1</h2>
            </td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;">
                <h2 style="text-align: center;">YOUNG PERSON MUST TAKE THIS FORM WITH THEM TO</h2>
            </td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;">
                <h2 style="border: none; margin-left: 50px;">
                    LOCATION:
                    <span style="text-decoration: underline;">
                        {{referral.facility.name | upper}}
                    </span>
                </h2>
            </td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;">
                <h2 style="border: none; margin-left: 50px;">
                    CONTACT:
                    <span style="text-decoration: underline;">
                        {{referral.facility.users.first.get_name | upper}}
                        ({{referral.facility.users.first.phone}})
                    </span>
                </h2>
            </td>
        </tr>
    </table>

    <br>
    <table>
        <tr>
            <td style="text-align: left;">
                <h2>Dear Esteemed Colleague,</h2>
            </td>
            <td style="text-align: right;">
                <h2>
                    Date:
                    <span style="text-decoration: underline;">__{{referral.created_at|date:"M d, Y" | upper}}__</span>
                </h2>
            </td>
        </tr>
    </table>
    <br>

    <table>
        <tr>
            <td>
                <h2>
                    Please receive (First Name, Surname)
                    <span style="text-decoration: underline; margin-left: 10px; margin-right: 10px;">
                        ____{{referral.adolescent.other_names | upper}}__,
                        __{{referral.adolescent.surname | upper}}____
                    </span>
                    who attended the Y-Check screening service delivered by Y-Check staff.
                </h2>
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td>
                <h2 style="font-weight: 400;">Y-Check ID: <span
                        style="text-decoration: underline;">____{{referral.adolescent.pid}}____</span></h2>
            </td>
            <td>
                <h2 style="font-weight: 400;">Age: <span
                        style="text-decoration: underline;">____{{referral.adolescent.get_age}}YEARS____</span></h2>
            </td>
            <td>
                <h2 style="font-weight: 400;">Sex: <span
                        style="text-decoration: underline;">____{{referral.adolescent.gender | upper}}____</span></h2>
            </td>
        </tr>
    </table>
    <br>
    <br>

    <table>
        <tr>
            <th style="text-align: left;">
                <h2 style="font-weight: 400;">Referred for management of:</h2>
            </th>
            <th colspan="2" style="text-align: left;">
                <h2 style="font-weight: 400;">Clinical notes from Y-Check visit:</h2>
            </th>
        </tr>

        {% for service in referral.services.all %}
        <tr>
            <td style="height: 30px;">
                <h2 style="font-weight: 400; margin-left: 10px;">{{service.name | upper}}:</h2>
            </td>
            <td colspan="2" style="height: 30px;">
                _______________________________________________________________________________________________</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>

    <h2>Additional notes:</h2>
    <h2 style="border-bottom: 1px solid gray; font-weight: 400;">
        {{referral.referral_reason|safe}}
    </h2>

    <br>
    <br>
    <table>
        <tr>
            <td>
                <h2>Name of Y-Check PA: {{referral.created_by.get_name | upper}}</h2>
            </td>
            <td>
                <h2>Signature:___________________________</h2>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <table>
        <tr>
            <td>
                <h2>Referring Organisation: Y-Check Ghana</h2>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <h2>
                    Contact details: Evans Agbenoo, +233 24 456 3742
                </h2>
            </td>
        </tr>
    </table>

</body>

</html>