<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YC_25P Follow-up Report for Service 3</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        header {
            padding: 20px;
            background-color: #ffffff; 
        }
        
        header table {
            width: 100%;
        }
        
        header td {
            text-align: center;
        }
        
        header img {
            width: 100px;
            margin-left: 150px;
            height: auto;
        }
        h1 {
            margin: 0;
            font-size: 18px;
        }
       
        h3 {
            text-align: center;
            text-decoration: underline;
        }
        
        
        .y-table th{
            border-bottom: 1px solid black;
        }
        
        .y-table th:first-child,
        td:first-child {
            text-align: left; 
        }
        .y-table table tr:nth-child(even) td {
            background-color: #f0f0f0;
        }

        th:first-child,
        td:first-child {
            text-align: left; 
        }
        .y-table table tr:nth-child(even) td {
            background-color: #f0f0f0;
        }
       

      
        
    </style>
</head>
<body>
    <header>
        <table>
            <tr>
                <td><img src="https://1c0bb1c435.imgdist.com/pub/bfra/nnugauc1/nop/v9p/tul/Picture1.png" alt=""></td>
                <td style="margin-left: 120px;"><img src="https://1c0bb1c435.imgdist.com/pub/bfra/nnugauc1/nop/v9p/tul/Picture1.png" alt=""></td>
            </tr>
        </table>
    </header>
    <h1 style="text-align: center; margin-top:-10px;">YC_25P Follow-up Report for Service 3</h1>
    <h2 style="text-align: center;">Private and Confidential</h2>
    <h3>Complete this form in Capital Letters, paying attention to a Clear, Bold, and Easy to read handwriting.</h3>
    <table style="border: 1px solid black; padding-top:5px; padding-bottom:5px; margin:0;">
        <tr style="border: none;">
            <td style="border: none; margin-left: 20px"><h2>Y-Check PID:_____________ </h2></td>
            <td style="border: none;"><h2> Gender:_____________</h2></td>
            <td style="border: none;"> <h2>Age: _____________ </h2></td>
        </tr>
    </table>
    <div>
        <table  style="margin-top: 20px; padding: 5px;">
            <tr>
                <td>Dear Y-Check Participant,</td>
                <td style="margin-left: 200px;"> <span> Date:__________________</span></td>
            </tr>
        </table>
        
        <table style="margin-top: 10px; padding: 5px;" >
            <tr>
                <td>You attended a Y-Check health and well-being follow-up today. Your screening results <br> (see overleaf) indicate a possible problem.</td>
            </tr>
            <tr>
                <td>We strongly recommend that you visit the following service(s) for further assessment</td>
            </tr>
            <tr>
                <td>Name and location of service provider:</td>
            </tr>
            <tr>
                <td><span>_____________________________________________________________________________________</span></td>
            </tr>
            <tr>
                <td >We encourage you to bring your trusted adult with you when you attend the service. <br>
                    We believe you will benefit by giving this matter your attention as untreated conditions <br>
                    can affect your general health and wellbeing.</td>
            </tr>
        </table>
        
        <table style="border: 1px solid black; padding-top:5px; padding-bottom:5px; margin:0;">
            <tr style="border: none;">
                <td style="border: none; margin-left: 200px">Y-Check will pay the referral consultation and treatment fees.</td>
            </tr>
            <tr style="border: none;">
                <td style="border: none; margin-left: 200px">
                    <strong >You must bring your Y-Check ID card with you to the service.</h2>
                </td>
            </tr>
        </table>
        <table style="padding: 5px; margin-top:10px">
            <tr>
                <td>Name of Y-Check PA:__________________________________</td>
                <td>Signature:___________________________</td>
            </tr>
        </table>
        <table  style="padding: 5px;">
            <tr>
                <td>Referring Organisation: ...............................................</td>
            </tr>
        </table>
        <table style="padding: 5px;">
            <tr>
                <td>Contact details: ...........................................................</td>
            </tr>
        </table>
        <div class="y-table">
            <table >
                <tr>
                    <th>Condition</th>
                    <th>
                        Screened
                        <div class="">
                            <span>Yes</span>
                            <span>No</span>
                        </div>
                    </th>                    
                    <th>
                        Possible problem
                        <div class="">
                            <span>Yes</span>
                            <span>No</span>
                        </div>
                    </th>                    
                    <th>
                        Referral
                        <div class="">
                            <span>Yes</span>
                            <span>No</span>
                        </div>
                    </th>  
                    <th>Further details</th>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Mental health
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Suicide risk
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Alcohol and drugs abuse
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>

                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Malaria
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Hearing impairment
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Visual impairment
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Oral health
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Physical impairment
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Nutrition
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Anaemia
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Schistosomiasis
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        Blood pressure
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
                <tr style="padding: 5px;">
                    <td>
                        STIs
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        HIV
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Hepatitis B
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Hepatitis C
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Sickel Cell Diseases
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Worm Infestation
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        ENT issues
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Migraine
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
                <tr style="padding: 5px;">
                    <td>
                        Family Planning
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td>
                        <input type="checkbox"> 
                        <input type="checkbox"> 
                    </td>
                    <td></td>
                </tr>
               
            </table>
            
        </div>
        
    </div>
   
</body>
</html>
