.patient-main{
    display: grid;
    grid-template-columns: 13rem auto;
  }
  
  
  @media screen  and (min-width:200px) and (max-width:850px){
  
    .patient-main{
      grid-template-columns:auto;
  
    }
    
  }