@import "../../theme-variables.scss";

.home-page {
    height: 100vh;
    background: linear-gradient(-45deg, #000 0%, #044b74 100%);
    color: white;
  
    .content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  