:root {
    --ug_gold: #B5965C;
    --ug_blue: #173D70;
  }

.login {
    display: flex;
    background: #ffffff;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.login-image{
    width: 100px; 
    height: 100px; 
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    border: 2px solid var(--ug_blue);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-image img {
    width: 60px; 
    height: 60px; 
    margin-top: 1rem;
    object-fit: contain;
    margin-bottom: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    align-content: center;
    width: 300px; 
    padding: 20px;
}
  

.login-title {
    margin: 10px 0;
    color: var(--ug_blue);

}
  
.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.input-with-icon {
    position: relative;
}
.login-form span{
    color: var(--ug_blue);
    font-weight: 500;
}
  
.input-with-icon input {
    padding: 15px; 
    width: 90%;
    border: 2px solid var(--ug_blue);
    outline: none;
    border-radius: 8px;
    
}
  
.input-with-icon .login-icon {
    position: absolute;
    margin-right: -3rem;
    color: var(--ug_blue);
    top: 50%; 
    margin-left: 250px;
    transform: translateY(-50%);
}
.login-form input::placeholder {
    font-weight: bold;
    color: var(--ug_blue)
    
}
.login-form .login-button{
    background: var(--ug_blue);
    outline: none;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    padding: 15px;
    width: 100%;
    margin-top: 2rem;
}
.page{
    color: var(--ug_blue);
    margin-left: 70rem;
    display: none;
}
.page-progress{
    background: #ffffff;
}

.login-error{
    background: rgba(210, 160, 171, 0.5);
    padding: 10px;
    color: var(--ug_blue);
}
.login-success{
    background: rgba(179, 230, 205, 0.5);
    padding: 10px;
    color: var(--ug_blue);
}
@media screen  and (min-width:200px) and (max-width:380px){

    .login{
        margin-left: -4rem;
    }
    .page{
        color: var(--ug_blue);
        display: block;
        margin-left: 18rem;

    }
    .login-container{
        margin-left: 2rem;
    }
}
